foodsavingleuven/activities_participants.csv
foodsavingleuven/activities.csv
foodsavingleuven/feedback.csv
foodsavingleuven/members.csv
foodsavingleuven/places.csv
leuven_demographics/commercial_stats.xlsx
leuven_demographics/demographics.xlsx
leuven_demographics/income.xlsx
leuven_demographics/space_and_housing.xlsx
openstreetmap/stores.csv
